<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>Contacte</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content>
  Pour toute autre information veuillez nous ecrire!
<p><strong>@Email:</strong><a href="mailto:moctarzdiarra@gmail.com?subjet=coucou&body=premiere ligne du message">moctarzdiarra@gmail.com</a></p><br>
<p><strong>Téléphone:</strong></p> 00212 627749206


</ion-content>
